#!/bin/bash
# Copyright (c) 2016 The Ontario Institute for Cancer Research. All rights reserved.                            
#
# This program and the accompanying materials are made available under the terms of the GNU Public License v3.0.
# You should have received a copy of the GNU General Public License along with                                 
# this program. If not, see <http://www.gnu.org/licenses/>.                                                    
#                                                                                                              
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY                          
# EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES                         
# OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT                          
# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT,                               
# INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED                         
# TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS;                              
# OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER                             
# IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN                        
# ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
origin_host=${1?} && shift

dictionary_file="{{ config_dictionaries_dir }}/{{ dictionary_version }}.json"
codelists_file="{{ config_dir }}/codelists.json"

# ===========================================================================

echo "origin_host=${origin_host?}"
echo "dictionary_file=${dictionary_file?}"
echo "codelists_file=${codelists_file?}"

# ===========================================================================

function ensure_open() {
  awk '{gsub(/"state" *: *"CLOSED"/,"\"state\":\"OPENED\"")}1'
}

function extract_version() {
  python -c "import json,sys;print json.loads(sys.stdin.read())[0]['version'];"
}

# ===========================================================================

# download origin dictionary and ensure state is OPENED
echo "getting dictionary"
curl -v -XGET ${origin_host?}/ws/dictionaries/{{ dictionary_version }} -H "Accept: application/json" | ensure_open >> ${dictionary_file?} && echo "OK" || echo "KO"

# get latest codelists
echo "getting codelists"
curl ${origin_host?}/ws/codeLists                -H "Accept: application/json" > ${codelists_file?} && echo "OK" || echo "KO"

echo "done"
