#!/bin/bash

origin_host=${1?} && shift

dictionary_file="{{ config_ditionaries_dir }}/{{ ditionary_version }}.json"
codelists_file="{{ config_dir }}/codelists.json"

# ===========================================================================

echo "origin_host=${origin_host?}"
echo "dictionary_file=${dictionary_file?}"
echo "codelists_file=${codelists_file?}"

# ===========================================================================

function ensure_open() {
  awk '{gsub(/"state" *: *"CLOSED"/,"\"state\":\"OPENED\"")}1'
}

function extract_version() {
  python -c "import json,sys;print json.loads(sys.stdin.read())[0]['version'];"
}

# ===========================================================================

# download origin dictionary and ensure state is OPENED
echo "getting dictionary"
curl -v -XGET ${origin_host?}/ws/dictionaries/{{ ditionary_version }} -H "Accept: application/json" | ensure_open >> ${dictionary_file?} && echo "OK" || echo "KO"

# get latest codelists
echo "getting codelists"
curl ${origin_host?}/ws/codeLists                -H "Accept: application/json" > ${codelists_file?} && echo "OK" || echo "KO"

echo "done"
