<configuration>
    <property>
        <name>jobTracker</name>
        <value>{{ job_tracker }}</value>
    </property>
    <property>
        <name>nameNode</name>
        <value>{{ name_node }}</value>
    </property>
    <property>
        <name>zookeeperQuorum</name>
        <value>{{ zookeeper_quorum }}</value>
    </property>
</configuration>
