<configuration>
    <property>
        <name>jobTracker</name>
        <value>{{ hadoop_job_tracker }}</value>
    </property>
    <property>
        <name>nameNode</name>
        <value>{{ hadoop_name_node }}</value>
    </property>
    <property>
        <name>zookeeperQuorum</name>
        <value>{{ hadoop_zookeeper_quorum }}</value>
    </property>
</configuration>
