nameNode={{ hadoop_name_node }}
jobTracker={{ hadoop_job_tracker }}
user.name=downloader
zookeeperQuorum={{ hadoop_zookeeper_quorum }}
jobStart=2014-03-20T05:00Z
jobEnd=2015-03-20T05:00Z

oozie.coord.application.path=${nameNode}/user/${user.name}/workflows/archivecleaner-main
