# HTTP
http:
  port: {{ http_port }}
  adminPort: {{ http_admin_port }}
  maxThreads: 2048
  # The root path for the Jersey servlet.
  rootPath: "/api/*"

  # HTTP request log settings.
  requestLog:

    # Settings for logging to stdout.
    console:

      # If true, log requests to stdout.
      enabled: false

    # Settings for logging to a file.
    file:

      # If true, log requests to a file.
      enabled: false

# Database
database:
  # the name of your JDBC driver
  driverClass: org.postgresql.Driver

  # the username
  user: dcc

  # the password
  password: dcc

  # the JDBC URL
  url: {{ database_url }}

  # any properties specific to your JDBC driver:
  properties:
    charSet: UTF-8

  # the maximum amount of time to wait on an empty pool before throwing an exception
  maxWaitForConnection: 1s

  # the SQL query to run when validating a connection's liveness
  validationQuery: "/* Portal DB Health Check */ SELECT 1"

  # the minimum number of connections to keep open
  minSize: 4

  # the maximum number of connections to keep open
  maxSize: 32

  # whether or not idle connections should be validated
  checkConnectionWhileIdle: false

  # how long a connection must be held before it can be validated
  checkConnectionHealthWhenIdleFor: 10s

  # the maximum lifetime of an idle connection
  closeConnectionIfIdleFor: 1 minute

# Controls generation of "Last-Modified" and "ETag" HTTP headers
cache:
  # Enable Last-Modified HTTP header generation
  enableLastModified: true

  # List of resources for which Last-Modified HTTP header should not be generated. Format: regex accepted by java.lang.String
  excludeLastModified: ["^v\\d+/short$", "^v\\d+/auth/.*$", "^v\\d+/download.*$", "^v\\d+/analysis.*$", "^v\\d+/entityset.*$" ]

  # Enable ETag HTTP header generation
  enableETag: false

  # List of resources for which ETag HTTP header should not be generated. Format: regex accepted by java.lang.String
  excludeETag: []

# Authorization
crowd:
  ssoUrl: {{ crowd_sso_url }}

# In memory data grid
hazelcast:
  enabled: true

  # NB: Below hazelcast settings do not have default values. The portal won't start if they're unset

  # Credentials to enter a group. E.g. dev, uat, prod groups
  groupName: "dcc-prod"
  groupPassword: "DccProdPasswd"

  # Time-to-live settings.
  # Maximum number of seconds for each entry to stay in the cache. Entries that are
  # older than the set value and not updated for that time
  # will get automatically evicted from the cache.

  # Expire inactive users in 15 minutes
  usersCacheTTL: 900

  # Expire openId authentication attempt in 2 minutes
  openidAuthTTL: 120

# ElasticSearch index and hosts
elastic:
  indexName: {{ es_index_name }}
  nodeAddresses:
     - host: {{ es_host }}
       port: 9300

# Genomemaps
browser:
  dataSources:
     - uri: gene
       className: org.icgc.dcc.portal.browser.ds.GeneDataSource
     - uri: mutation
       className: org.icgc.dcc.portal.browser.ds.MutationDataSource  

# Data download
download:
  enabled: true
  uri: {{ download_uri }}
  dynamicRootPath: {{ download_dynamic_home_path }}
  staticRootPath: {{ download_static_home_path }}
  currentReleaseSymlink: {{ download_current }}
  stage: {{ download_stage }}
  quorum: {{ download_quorum }}
  oozieUrl: {{ download_oozie_url }}
  appPath: {{ download_app_path }}
  releaseName: {{ download_release_name }}

# Mail
mail:
  enabled: false
  smtpServer: "localhost"
  recipientEmail: "***REMOVED***"

web:
  # Defines an external URL when the portal is behind a reverse proxy / load balancer. E.g. shortUrl resource uses it for generation of valid URLs
  baseUrl: {{ web_base_url }}

# Logging settings
logging:

  # Settings for logging to stdout.
  console:

    # If true, write log statements to stdout.
    enabled: true

  # Settings for logging to a file.
  file:

    # If true, write log statements to a file.
    enabled: true

    # Do not write log statements below this threshold to the file.
    threshold: INFO 

    # The file to which current statements will be logged.
    currentLogFilename: ../logs/dcc-portal-api.log

    # When the log file rotates, the archived log will be renamed to this and gzipped. The
    # %d is replaced with the previous day (yyyy-MM-dd). Custom rolling windows can be created
    # by passing a SimpleDateFormat-compatible format as an argument: "%d{yyyy-MM-dd-hh}".
    archivedLogFilenamePattern: ../logs/dcc-portal-api-%d.log.gz

    # The number of archived files to keep.
    archivedFileCount: 10

  # The default level of all loggers. Can be OFF, ERROR, WARN, INFO, DEBUG, TRACE, or ALL
  level: INFO

  # Logger-specific levels
  loggers:

    # Jersey request logging
    "com.sun.jersey.api.container.filter.LoggingFilter": INFO

    # ElasticSearch query logging
    "org.icgc.dcc.portal.service": WARN
    "org.icgc.dcc.portal.repository": WARN
    "org.icgc.dcc.portal.resource": WARN
    "org.icgc.dcc.portal.browser.ds.GeneParser": WARN
    "org.icgc.dcc.portal.browser.ds.MutationParser": WARN

    # Very chatty
    "com.wordnik.swagger.jsonschema.ApiModelParser": WARN

    # dynamic downloader logging
    "org.apache.hadoop.hbase": WARN
    "org.apache.zookeeper": WARN

    # ERRORs should be converted to WARNs in Swagger 1.2.2
    "com.wordnik.swagger.jaxrs.HelpApi": OFF

# ICGC Client configuration
icgc:

  # CGP/DACO API endpoint
  cgpUrl: {{ icgc_cgp_url }}

  # ShortUrl API endpoint
  shortUrl: {{ icgc_short_url }}

  # CUD API endpoint
  cudUrl: {{ icgc_cud_url }}

  # CUD credentials. Obtained from webdev@oicr.on.ca
  cudAppId: {{ icgc_cud_id }}
  cudUser: {{ icgc_cud_user }}
  cudPassword: {{ icgc_cud_passwd }}

  # OAuth credentials
  # To generate the credentials go to icgc.org, log in, go to the "OAuth Settings" tab and request "Regenerate all tokens"
  consumerKey: "***REMOVED***"
  consumerSecret: "***REMOVED***"
  accessToken: "***REMOVED***"
  accessSecret: "***REMOVED***"

  # Log HTTP requests to the API
  enableHttpLogging: false

  # Disallow self-signed SSL certificates
  enableStrictSSL: true

# Set analysis configuration
setOperation:

  # Limit for number of items to return from ElasticSearch
  maxPreviewNumberOfHits: 1000
  maxNumberOfHits: 20000
  maxMultiplier: 3

  # Settings related to the demo record
  demoListUuid: {{ set_operation_demo_list_uuid }}
  # Gene demo list - top 50 mutated genes in Cancer Gene census. See https://wiki.oicr.on.ca/download/attachments/60561081/Cancer_Gene_Census_Top50.txt?version=1&modificationDate=1422392030000&api=v2
  demoListFilterParam: "TP53,NRG1,FIP1L1,CAMTA1,FHIT,PIK3CA,ALK,RUNX1,NTRK3,PDE4DIP,LPP,KRAS,PTPRK,BRAF,ZNF521,FOXP1,STAG2,GPHN,EBF1,CUX1,RANBP17,PRDM16,NF1,SETBP1,CDH11,MAML2,GOPC,ERC1,PTEN,ATRX,APC,PBX1,EGFR,ARID1A,GAS7,NCOA2,CACNA1D,ERG,SRGAP3,AKAP9,CTNNB1,EIF3E,EXT1,LHFP,RSPO2,PTPRB,NOTCH2,KMT2D,PTPRC,GPC3"

# Portal release configuration
release:
  releaseDate: {{ release_release_date }}

