<configuration>
  <property>
    <name>jobTracker</name>
    <value>{{ hadoop_job_tracker }}</value>
  </property>
  <property>
    <name>nameNode</name>
    <value>{{ hadoop_name_node }}</value>
  </property>
  <property>
    <name>queueName</name>
    <value>default</value>
  </property>
  <property>
    <name>zookeeperQuorum</name>
    <value>{{ hadoop_zookeeper_quorum }}</value>
  </property>
  <property>
    <name>archiveAppPath</name>
    <value>/user/downloader/workflows/archive</value>
  </property>
  <property>
    <name>ttl</name>
    <value>48</value>
  </property>
  <property>
    <name>supportEmailAddress</name>
    <value>dchang@oicr.on.ca</value>
  </property>
  <property>
    <name>releaseName</name>
    <value>CURRENT</value>
  </property>
  <property>
    <name>bufferSize</name>
    <value>65536</value>
  </property>
  <property>
    <name>cacheSize</name>
    <value>2000</value>
  </property>
  <property>
    <name>queueSize</name>
    <value>100000</value>
  </property>
  <property>
    <name>ssm_open</name>
    <value>false</value>
  </property>
    <property>
    <name>ssm_controlled</name>
    <value>false</value>
  </property>
  <property>
    <name>cnsm</name>
    <value>false</value>
  </property>
  <property>
    <name>stsm</name>
    <value>false</value>
  </property>
  <property>
    <name>clinical</name>
    <value>false</value>
  </property>
  <property>
    <name>clinicalsample</name>
    <value>false</value>
  </property>
  <property>
    <name>jcn</name>
    <value>false</value>
  </property>
  <property>
    <name>meth</name>
    <value>false</value>
  </property>
  <property>
    <name>mirna</name>
    <value>false</value>
  </property>
  <property>
    <name>pexp</name>
    <value>false</value>
  </property>
  <property>
    <name>exp</name>
    <value>false</value>
  </property>
  <property>
    <name>sgv_controlled</name>
    <value>false</value>
  </property>
  <property>
    <name>meth_seq</name>
    <value>false</value>
  </property>
  <property>
    <name>meth_array</name>
    <value>false</value>
  </property>
  <property>
    <name>mirna_seq</name>
    <value>false</value>
  </property>
    <property>
    <name>exp_array</name>
    <value>false</value>
  </property>
  <property>
    <name>exp_seq</name>
    <value>false</value>
  </property>
</configuration>
