# Copyright 2013(c) The Ontario Institute for Cancer Research. All rights reserved.
#
# DCC Submission Server - Application Configuration
#
#  Note: The CWD will always be the bin/ directory
#        See http://wrapper.tanukisoftware.com/doc/english/prop-working-dir.html

http {
  listen: "0.0.0.0"
  port: {{ http_port }}
  ssl: false
  ws {
    path: "/ws"
  }
  resources: [
    "../www/public/"
  ]
}
# Only using a single host for now. See DCC-1934
mongo {
  # Using "primary" as read preference, it's the default but we explicitely state it to make it clear what is being used
  # (see details at https://jira.oicr.on.ca/browse/DCC-1934?focusedCommentId=59363&page=com.atlassian.jira.plugin.system.issuetabpanels:comment-tabpanel#comment-59363)
  # uri: "mongodb://<%=mongo_user%>:<%=mongo_password%>@{{ mongo_host }}/icgc?readPreference=primary"
    uri: "mongodb://{{ mongo_host }}/icgc-dev"
}
shiro {
  realm: "../conf/realm.ini"
}
fs {
  # Root directory of DCC filesystem
  root : "/icgc/submission"
  # FileSystem Scheme. This sets hadoop's fs.defaultFS
  url: "{{ hadoop_fs_url }}"
}
sftp {
  port : {{ sftp_port }}
  path : "../data/sshd.pem"
  nio-workers: 20
}
# Everything set below this node ends up in the JobConf. All keys must be double quoted in this section.
hadoop {
  "fs.defaultFS": ${fs.url}

  # Configure the job tracker
  "mapred.job.tracker" : "{{ hadoop_job_tracker }}"
  "mapred.job.shuffle.input.buffer.percent" : 0.5
  "mapred.child.java.opts" : "-Xmx6g"
}
validator {
  max_simultaneous: 3
}
normalizer {
  error_threshold: 1.0
  masks {
    enabled: true,
  },
  duplicates {
    enabled: true,
  }
}
reference {
  # The reference genome assembly. Assumes the existence of a .fasta.fai file in the same directory. 
  # The filename is what will be reported to users as the assembly version.
  fasta: "../data/GRCh37.fasta"
}
mail {
  enabled: true
  smtp {
    host: "{{ smtp_host }}"
  }
  from {
    email: "{{ from_email }}"
    name: "{{ from_name }}"
  }
  support {
    email: "{{ support_email }}"
    name: "{{ support_name }}"
  }
  notification {
    email: "{{ notification_email }}"
    name: "{{ notification_name }}"
  }
  subject:"[DCC] Validation Finished for %s - %s!"
  not_validated_body: "Dear ICGC member\n\nWe have processed your submission for the project %s and the state is: %s.\n\nThis mean that there is at least one file in your submission that has not been validated and you should now examine the summary reports on our submission site and validate the remaining files. You can find the summary reports at: https://submissions.dcc.icgc.org/releases/%s/submissions/%s. \n\nThe DCC team\n\nNote: this email is not monitored, for help with your submission please email dcc-support@oicr.on.ca"
  valid_body: "Dear ICGC member\n\nWe have processed your submission for the project %s and the state is: %s.\n\nSince your submission is valid it is compliant with the current ICGC data format specification. At this point you can see the summary reports at https://submissions.dcc.icgc.org/releases/%s/submissions/%s and, when ready, you can click "signoff" on the submission portal to indicate your submission is ready for inclusion in the ICGC DCC release. If you need to make modifications to your current submission please re-upload your data and trigger the validation process again. \n\nThe DCC team\n\nNote: this email is not monitored, for help with your submission please email dcc-support@oicr.on.ca"
  invalid_body: "Dear ICGC member\n\nWe have processed your submission for the project %s and the state is: %s.\n\nThis mean that there are errors in your data and you should now examine the error reports on our submission site, fix the errors in your local submission files, re-upload these files, and try your validation again. You can find the detailed error reports at: https://submissions.dcc.icgc.org/releases/%s/submissions/%s. \n\nThe DCC team\n\nNote: this email is not monitored, for help with your submission please email dcc-support@oicr.on.ca"
  signoff_body: "Dear DCC administrator,\n\nUser %s has just signed off the submission for the project %s. This submission is ready for inclusion in the %s Data Portal release.\n\nThis message is sent out by the data validator application."
  error_body: "Dear ICGC member\n\nWe have processed your submission for the project %s and the state is: %s.\n\nSince this is a system error the ICGC DCC staff has been notified and will investigate the cause. We will contact you once this error has been cleared so you can retry your submission.\n\nThe DCC team\n\nNote: this email is not monitored, for help with your submission please email dcc-request@oicr.on.ca"
}
