#
# DCC ETL Annotator - Configuration
#

# Spring
spring:

# SnpEff
snpEff:
   resourceDir: {{ snpEff_resource_dir }}
   resourceUrl: {{ snpEff_resource_url }}
   databaseVersion: {{ snpeff_database_version}} 
   referenceGenomeVersion: {{ snpeff_reference_genome_version }}
   geneBuildVersion: {{ snpeff_gene_build_version }}

# Hadoop         
hadoop:
   username: {{ hadoop_username }}
   properties:
      fs.defaultFS: {{ hadoop_fs_url }}
      mapred.min.split.size: 104857600
      mapred.job.tracker: {{ hadoop_job_tracker }}

      # dfs.client.use.legacy.blockreader: true
      # hadoop.socks.server: localhost:1080
      # hadoop.rpc.socket.factory.class.default: org.apache.hadoop.net.SocksSocketFactory
