export temp_parent_dir=${temp_parent_dir:-"/tmp"}
export hdfs_report_parent_dir=${hdfs_report_parent_dir:-"/icgc/overarch"}
export oozie_url=${oozie_url:-"***REMOVED***"}
export workflow_hdfs_dir=${workflow_hdfs_dir:-"***REMOVED***/user/annotator/workflows"}
export parallel_runtime=${parallel_runtime:-false}
