reference=GRCh37.75

# Define the input and output from HDFS
input_file=
output_file=

# Hadoop related
conf_dir=/etc/hadoop/conf

# imported from LOCAL or HDFS file system
import_fs={{ annotator_import_fs }}

# exported to LOCAL or HDFS file system
export_fs={{ annotator_export_fs }}

# Temporary local FS directory
work_dir={{ annotator_work_dir }}

# parameters for this workflow
genome_model=HG19

# expect to find the data in the local file system (we need to modify it to match the location of the data
hg19_path=/u/dcc_dev/dcc-annotator/data/genome/GRCh37.75

#snpeff cancer flag (true or false)
with_cancer=true

# enable statistics collection
with_stats=false

#
java_home=/usr
perl_home=/usr/bin
