nameNode={{ hadoop_name_node }}
jobTracker={{ hadoop_job_tracker }}
user.name=downloader
zookeeperQuorum={{ hadoop_zookeeper_quorum }}
jobStart=2015-02-17T05:00Z
jobEnd=2016-02-17T05:00Z
downloadDir={{ download_dynamic_home_path }}
releaseName={{ release_name }}
oozie.coord.application.path=${nameNode}/user/${user.name}/workflows/archive-maintenance-main
