# Packages for Cloudera's Distribution for Hadoop, Version 4, on Ubuntu 12.04 x86_64
deb [arch=amd64] http://archive.cloudera.com/cm5/ubuntu/precise/amd64/cm precise-cm{{ cm_version }} contrib
deb-src http://archive.cloudera.com/cm5/ubuntu/precise/amd64/cm precise-cm{{ cm_version }} contrib

